long_data/
visual/
fixed_data/
cloth_drop/
cloth_drop2/
cloth_needle/
elastic/
elastic_drag/
elastic_drop/
fancy_fluid/
fancy_fluid2/
non/
non_bunny/
non_obj/
cloth_on_ball/
real_world/
cloth_on_ball_final/
fancy_fluid_abl/
twist/
duck_drop/
hair_ball/
real_world_data/
teaser_fluid/
elastic_drag_final/
teaser_sample/
cloth_on_ball_L/
elastic_drop_final/
fancy_fluid2_div/
fancy_fluid2_local/
twist_final/

dam/
fluid1/
sand/
2.pkl
final.pkl

atlas/

cloth/
data/

flag/*
!flag/test.txt
!flag/train.txt
!flag/validation.txt
!flag/2
!flag/2/**

fluid/
md_data/
more_data/
more_data_nve/

.ipynb_checkpoints/
__pycache__/

.vscode/

sand.tar.gz

experiments/
